.texto-menor {
    font-size: 13px;
    color: white;
}

.facilidades {
    width: 325px;
    color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF;
}

.posicao{
    top: 40%;
}

@media(max-width: 768px){
    .posicao{
        top:60%;
    }
}